@use 'src/styles/boxes/border';
@use 'src/styles/theme/units';
@use 'src/styles/theme/colors';

@mixin main($borderColor: 'minorNormal') {
  @include border.main();

  border-width: units.px(0.3);
  border-style: solid;
  fill: colors.color($borderColor);
  border-color: colors.color($borderColor);
  transition: units.transition();

  &:hover {
    fill: colors.color('decoreDark');
    border-color: colors.color('decoreDark');
    transition: units.transition();
  }
}
