@use 'src/styles/theme/units';
@use 'src/styles/theme/colors';

@mixin main($fontSize: 's', $color: 'minorNormal') {
  font-size: units.fontsize($fontSize);
  font-style: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: colors.color($color);
}
