// scale

@function scale($value, $scale) {
  @return $value * $scale;
}

// px

$UNIT: 8;

@function pxify($value) {
  @return #{$value}px;
}

@function px($value) {
  @return pxify(scale($value, $UNIT));
}

// rem

$REM: 0.8;

@function remify($value) {
  @return #{$value}rem;
}

@function rem($value) {
  @return remify(scale($value, $REM));
}

// vw

$VW: 4;

@function vwify($value) {
  @return #{$value}vw;
}

@function vw($value) {
  @return vwify(scale($value, $VW));
}

// vw

$VH: 4;

@function vhify($value) {
  @return #{$value}vh;
}

@function vh($value) {
  @return vhify(scale($value, $VH));
}

// transition

$TRANSITION: 0.4;

@function transition($value: 1) {
  @return #{$value * $TRANSITION}s;
}

// fonts

@function smallTextSize() {
  @return vw(1.2);
}

@function normalTextSize() {
  @return vw(1.4);
}

@function largeTextSize() {
  @return vw(1.6);
}

@function extraTextSize() {
  @return vw(1.8);
}

@function fontsize($value) {
  @if $value == 's' {
    @return smallTextSize();
  }

  @if $value == 'm' {
    @return normalTextSize();
  }

  @if $value == 'l' {
    @return largeTextSize();
  }

  @if $value == 'xl' {
    @return extraTextSize();
  }

  @return smallTextSize();
}
